Passing the authorization code in the query string

There some cases, when making api calls we are explicitly not allowed to alter the header to include the rails_api_auth access_token (we're working with iframes). This makes using rails_api_auth difficult in these scenarios. Would you consider adding the following support? 

```ruby
       # this
        def bearer_token
          auth_header = request.headers['Authorization']
          auth_header ? auth_header.split(' ').last : nil
        end

       # to something like this
        def bearer_token
          k = 'Authorization'
          auth = request.headers[k] ? request.headers[k] : request.query_parameters[k]
          auth ? auth.split(' ').last : nil
        end
```

I know that it is strongly advised against, but this would at least allow us to use rails_api_auth, in edge case situations where we have a lot of control over all other aspects of the communication (setting origin restrictions etc).

[RFC 6750 section 2.2](https://tools.ietf.org/html/rfc6750#section-2.2) specifies that the access token might be sent in the request body but using the query string is actually strongly advised against like you also say above.

Given that it's fairly easy to override and customize the `bearer_token` method I don't think that should be supported out of the box.

Yeah that makes a lot of sense. Thanks marcoow.